[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/LaTeX-Box"]
	path = vim/bundle/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-colorschemes"]
	path = vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/vim-asciidoc"]
	path = vim/bundle/vim-asciidoc
	url = https://github.com/dahu/vim-asciidoc.git
[submodule "vim/bundle/vim-orgmode"]
	path = vim/bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-gradle"]
	path = vim/bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "vim/bundle/vim-todotxt"]
	path = vim/bundle/vim-todotxt
	url = https://github.com/dbeniamine/todo.txt-vim
[submodule "vim/bundle/vim-speeddating"]
	path = vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/vim-wordy"]
	path = vim/bundle/vim-wordy
	url = https://github.com/reedes/vim-wordy
[submodule "vim/bundle/vim-signature"]
	path = vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "vim/vim/bundle/vim-pencil"]
	path = vim/vim/bundle/vim-pencil
	url = https://github.com/reedes/vim-pencil.git
[submodule "vim/bundle/vim-pencil"]
	path = vim/bundle/vim-pencil
	url = https://github.com/reedes/vim-pencil.git
[submodule "vim/bundle/vim-markdown-composer"]
	path = vim/bundle/vim-markdown-composer
	url = https://github.com/euclio/vim-markdown-composer
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/bundle/vim-javacomplete2"]
	path = vim/bundle/vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2
[submodule "joe/syntax"]
	path = joe/syntax
	url = https://github.com/cmur2/joe-syntax
