[submodule "joe/syntax"]
	path = joe/syntax
	url = https://github.com/cmur2/joe-syntax
[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
