[submodule "joe/syntax"]
	path = joe/syntax
	url = https://github.com/cmur2/joe-syntax
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "git-tools"]
	path = git-tools
	url = https://github.com/liferay/git-tools
